body{
    font-family: "Open Sans", sans-serif;
    
}

.background-image{
    width: 100%;
    object-fit: cover;
    margin: 0px;
    height: 100vh;
}
.container1{
    position: relative;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description{
    margin: 12px 0 32px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;;
    letter-spacing: .17px;
}

.inputt{
    position: relative;
}

.offering{
    font-family: "Open Sans", sans-serif;

}

.partners{
    font-weight: 700px;
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
}

.placeholderr{
    padding: 20px 40px;
    border: none;
    width: 100%;
    outline: none;
    border-radius: 12px;
    box-sizing: border-box;
}

.placeholderr:focus{
    padding: 19px 40px;
    border: 2px solid #8ca23b;
    }

.input{
    width: 90%;
    height: 60px;
    position: relative;
}
.get-started-button{
    background-color: #8ca23b;
    position: absolute;
    right: 0;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 12px;
    padding: 18.7px 40px ;
            
}
.header{
    position: absolute;
    display: flex;
    width: 90%;
    width: clamp(400px, 6vw,);
    padding: 0 20px;
    top: 0;
    opacity: 1;
    align-items: center;
    justify-content: space-between;
}
.noder{
    display: flex;
    justify-content: center;
    color: #fcfcfc;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .14px;

    position: absolute;
    display: flex;
    width: 90%;
    width: clamp(400px, 6vw,);
    padding: 0 20px;
    top: 0;
    opacity: 0;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 991px) {
    .noder{
        opacity: 1;
    }
}

@media (max-width: 991px) {
    .header{
        opacity: 0;
    }
}
.hamburger-menu{
    width: 30px;
}
.buypower-logo, .buypower-logoo{
    width: 157px;
    height: 100%;
    
}
.buypower-logo-image{
    width: 100%;
}
.bar1, .bar2, .bar3 {
    width: 100%;
    height: 5px; 
    background-color: #8ca23b; 
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 2px; 
}

.firstoff{
    font: 32px "Open Sans", sans-serif;
    font-weight: 700;

}

@media (max-width: 991px) {
    .firstoff{
        font: 28px "Open Sans", sans-serif;
        font-weight: 600;
    }
}

.center-display{
    position: absolute;
    top: 43%;
    left: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    text-align: center;
    flex-direction: column;
    transform: translate(-50%, -50%);
    width: clamp(400px, 5vw, 400px);
    padding: 0px 10px;
    color: white;
    align-items: center;
}
h1{
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes{
    background-color: #f8f8f8;
    margin-bottom: 0px;
    padding: 65px 80px;
}
.texteees{
    text-align: center;
}

.box1{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
}

.con10ner{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 16px;
    border: 1px solid #f9f9f9;
    background-color: #fff;
    padding: 24px 25px 13px 10px;
    
    
    
}

.card-desc{
    color: #7d756c;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .14px;
}




.icon-container{
    width: 54px;
    
}

.payment-icon, 
.payouts-icon, 
.meter-verification-icon,
.merchant-icon,
.gifts-icon,
.support-icon{
    width: 100%;
    
}
@media (min-width: 1200px) {
  .box1 {
    
    grid-template-columns: repeat(3, 1fr); 
  }
}
@media (max-width: 991px) {
.con10ner{
        padding-right: 20px;
    }
}

.younique{
    color: #7d756c;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: .17px;
    margin-bottom: 48px;
}
p{
    font-family: "Open Sans", sans-serif;
}

@media (max-width: 991px) {
    .boxes {
        padding: 40px 30px;
    }
}

.container3{
    background-color: #ECF2CF;
    padding: 70px 80px;
}
.trust-me{
    color: #28360e;
    font-size: 17px;
    text-align: center;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 4px;
    
}

.prooff{
    color: #7D756C;
    font-size: 14px;
    margin: 14.2px 0px 48px;
    text-align: center;
}

.screenshot-box{
    
    display: flex;
    height: 288px;
    background-color: white;
    width: 297px;
    border-radius: 8px;
    align-items: center;

}

.screenshot-container{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.screenshot{
    width: 100%;
}


@media (max-width: 991px) {
    .container3 {
        padding: 35px 40px;
    }
}

.container4{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}
.partners-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 1200px;
}
.icon{
    height: 50px;
}

.Partners,
.Download,
.begin{
    font: 21px "Open Sans", sans-serif;
    color: #302c29;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 4px;
}

.tails{
    color: #7d756c;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

}
.provisions{
    margin: 17px 0px 48px;
    color: #7d756c;
    font-weight: 400;
    line-height: 1;
    letter-spacing: .17px;
    font: 17px "Open Sans", sans-serif;
}
@media (max-width: 991px) {
    .partners-container{
        gap: 20px;
    }
}

.container5{
    background-color: #fbefd3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}



.schedule-payments{
    text-align: center;
    color: #7d756c;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .17px;
    font-family: "Open Sans", sans-serif;
}
    
.phone-show{
    width: 880px;
    max-width: 100%;
}

.audit-container{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 24px;
    
}

.NDPR-icon{
    width: 80px;
    height: 80px;
}
.NDPR-box{
width: 100%;
background-color: lightpink;
}
.inputt{
    width: 330px;
    
}
.get-started-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 24px;
    background-color: #ecf2cf;

}

.auditedd{
    font-size: 14px;
    font-weight: bolder;
    line-height: 20px;
    
}
.restt{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 20px;
    color: #7d756c;
    
}

.billzz{
    color: #7d756c;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Open Sans", sans-serif;

}
.get-started-container, .audit-container{
    width: 50%;
}
.container6{
    display: flex;
    flex-direction: row;
    flex: 1;
}

@media (max-width: 991px) {
    .container6{
        flex-direction: column;
        background-color: lightblue;
        
    }
}

@media (max-width: 991px) {
    .get-started-container, .audit-container{
        width: 95%;
    }
}

@media (max-width: 991px) {
    .audit-container{
        justify-content: space-between;
    }
}

.container7{
    display: flex;
    flex: 1;
    background-color: #fcfbfa;
    padding: 30px 5px;
}
.wraps{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 991px) {
    .container7{
        flex-direction: column;
    }
}

@media (max-width: 991px) {
    .wraps{
        grid-template-columns: repeat(2, 1fr);
    }
}

